* {
  font-family: verdona;
}

body {
  font-size: 24px;
}

#content {
  margin: 60px;
  padding: 20px;
}

#nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 60px;
  width: 100%;
  color: white;
  background-color: rgba(0, 0, 250, .6);
  font-size: 18px;
}

h1 {
  font-size: 32px;
  font-weight: normal;
}

input {
  margin-top: 5px;
  margin-bottom: 5px;
  font-size: 24px;
  border: 2px solid #dadada;
  border-radius: 10px;
}

input:focus {
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 15px 5px #9ecaed;
}

.two-term {
  width: 100px;
}

.right {
  float: right;
  padding-right: 15px;
}

.left {
  float: left;
  padding-left: 15px;
}

hr {
  margin: 50px;
  height: 0;
  color: lightGrey;
}

#footer {
  position: fixed;
  bottom: 0;
  left: 0;
  height: 60px;
  width: 100%;
  color: white;
  background-color: rgba(0,0,250,.6);
  font-size: 18px;
}